<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="#"><%= image_tag 'logo.png' %></a>
      <div class="nav-collapse">
        <ul class="nav pull-right">
          <li><a href="#">АСОЦИАЦИЯ</a></li>
          <li><a href="#">СЪБИТИЯ</a></li>
          <li><a href="#">УЧИЛИЩЕ</a></li>
          <li><a href="#">ОБЩЕСТВО</a></li>
          <li><a href="#">СНИМКИ</a></li>
          <li><a href="#">ВИДЕО</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="slider-block">

  <div id="myCarousel" class="carousel slide">
    <div class="carousel-inner">
      <div class="active item">
        <%= image_tag 'kiro_niki.jpg' %>
        <div class="caption middle-right container">
          <p class="large pink add-space" style="opacity: 1;">АСОЦИАЦИЯ ДИЗАСТЪР</p>
          <p class="medium white text-pink" style="opacity: 1;">Развива кънките в България и по света от 2002.</p>
        </div>
      </div>
      <div class="item">
        <%= image_tag 'niki2.jpg' %>
        <div class="caption middle-left container">
          <p class="large pink add-space" style="opacity: 1;">АСОЦИАЦИЯ ДИЗАСТЪР</p>
          <p class="medium white text-pink" style="opacity: 1;">Развива кънките в България и по света от 2002.</p>
        </div>
      </div>
      <div class="item">
        <%= image_tag 'kiro2.jpg' %>
        <div class="caption middle-left container">
          <p class="large pink add-space" style="opacity: 1;">АСОЦИАЦИЯ ДИЗАСТЪР</p>
          <p class="medium white text-pink" style="opacity: 1;">Развива кънките в България и по света от 2002.</p>
        </div>
      </div>
      <div class="item">
        <%= image_tag 'kiro.jpg' %>
        <div class="caption bottom-left container">
          <p class="large pink add-space" style="opacity: 1;">АСОЦИАЦИЯ ДИЗАСТЪР</p>
          <p class="medium white text-pink" style="opacity: 1;">Развива кънките в България и по света от 2002.</p>
        </div>
      </div>
      <div class="item">
        <%= image_tag 'niki.jpg' %>
        <div class="caption middle-right container">
          <p class="large pink add-space" style="opacity: 1;">АСОЦИАЦИЯ ДИЗАСТЪР</p>
          <p class="medium white text-pink" style="opacity: 1;">Развива кънките в България и по света от 2002.</p>
        </div>
      </div>
    </div>
    <!-- Carousel nav -->
    <a class="carousel-control left" href="#myCarousel" data-slide="prev">‹</a>
    <a class="carousel-control right" href="#myCarousel" data-slide="next">›</a>
  </div>

</div>

<div class="container">

  <div class="row news">
    <div class="span10 offset1">
      <div class="accordion" id="accordion2">
        <div class="accordion-group">
          <div class="accordion-heading">
            <h2>
              <a class="accordion-toggle" data-parent="#accordion2" href="#">
                Тийм Дизастър отива в Холандия!
              </a>
            </h2>
          </div>
          <div id="collapseOne" class="accordion-body collapse in">
            <div class="author" style="padding-left: 15px">
              <h5><%= image_tag 'team/niki.jpg', :class => "img img-circle", :style => "width: 60px; height: 60px; margin-right: 10px" %><span class="author_name">Николай Найденов</span>&nbsp;&nbsp;<span class="divider" style="color: #e5e5e5">|</span>&nbsp;&nbsp;<span class="date">28 Август 2013</span></h5>
            </div>
            <div class="news-inner">
              <p>Николай Найденов, Павел Митренга, Антон Евангелатов и Стефан Василев ще се състезават на 14 Август във вторият кръг от Европейското Първенство по кънки на рампа. Момчетата се финансират от EC Rotterdam, Vertigo и АИСА Дизастър.</p>
            </div>
          </div>
        </div>
        <div class="accordion-group">
          <div class="accordion-heading">
            <h2>
              <a class="accordion-toggle" data-parent="#accordion2" href="#">
                Пролетни Сесии в Монтана '11
              </a>
            </h2>
          </div>
          <div id="collapseThree" class="accordion-body collapse in">
            <div class="author" style="padding-left: 15px">
              <h5><%= image_tag 'team/pavel.jpg', :class => "img img-circle", :style => "width: 60px; height: 60px; margin-right: 10px" %><span class="author_name">Павел Митренга</span>&nbsp;&nbsp;<span class="divider" style="color: #e5e5e5">|</span>&nbsp;&nbsp;<span class="date">28 Август 2013</span></h5>
            </div>
            <div class="news-inner">
              <p>Пролетните сесии в Монтана се завръщат с още по-голям набор от алтернативни спортове събрани на едно място. Тази година, по скоро за посрещане на лятото отколкото на пролетта, датата ще бъде 18 Юни, мястото скейтпарка в град Монтана. Ако се занимаваш с кънки, ски, сноуборд, БМХ, wakе, wakeski или скейт, заповядай на най-масовият фестивал за алтернативни спортове, за да покараш с приятели и да се позабавляваш.</p>
              <p><a href="#" class="btn">Прочети повече</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div><!-- .container -->

<div class="hero-unit">
  <div class="container">
    <div class="row">
      <div class="span12">
        <h1>Събития</h1>
      </div>
    </div>
  </div>
</div>

<div class="container">

  <div class="row events">
    <div class="span5 offset1">
      <%= image_tag 'events/whiskey.jpg' %>
      <h2>УИСКИ, КЕШ и КЪНКИ</h2>
      <p><span class="date">28 Октомври 2013</span>&nbsp;&nbsp;<label class="label label-important">предстоящо събитие</label></h5>
    <p></p>
    <p>Слънцето започва да грее, така че време за кънки и за малко Кеш и Уиски...Мястото е известно на всички агро кънкьори - Младост 2 рейловете на Деница! Ето и карта: КАРТА. Ще покараме в два кръга първия на групи на малкия прав рейл,а след това на наклонения ще има директна елиминация,като накрая наградените ще бъдат избрани от самите участници в сешъна.</p>
    <p><a href="#" class="btn">Повече информация</a></p>
  </div>
  <div class="span5">
    <%= image_tag 'events/beer.jpg' %>
    <h2>BEER AND BLADE</h2>
    <p><span class="date">28 Август 2013</span></h5>
  <p>Първото събитие за годината,започна с молба за слънце и "хамър" трикове-малко по късно изпълнена...около 12:00 вече бяха започнали загрявките,трикове определено бяха сериозни от самото начало,старата школа разбира се закъсняваше(Ави Бару и Людмил Дачев бяха записани още преди да са пристигнали,а съдията Мартин Трифонов определено беше решил да се появи с гръм и трясък след започване на състезанието),за сметка на това пловдивското крю беше на линия от самото начало.</p>
  <p><a href="#" class="btn">Повече информация</a></p>
</div>
    </div>

  </div><!-- .container -->

  <div class="hero-unit">
    <div class="container">
      <div class="row">
        <div class="span12">
          <h1>ПРО ТИЙМ</h1>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="team">

      <div class="row">

        <div class="span12">
          <div class="row">
            <div class="span4 item">
              <div class="circle-thumbnail">
                <%= image_tag 'team/niki.jpg' %>
              </div>
              <h3>Николай Найденов</h3>
              <p>Изключително гладък стил на рампа, прави триковете да изглеждат лесни.</p>
            </div>
            <div class="span4 item">
              <div class="circle-thumbnail">
                <%= image_tag 'team/kiro.jpg' %>
              </div>
              <h3>Кирил Траянов</h3>
              <p>Кирил е един от най-силните карачи на рампа, особено на състезания.</p>
            </div>
            <div class="span4 item">
              <div class="circle-thumbnail">
                <%= image_tag 'team/pavel.jpg' %>
              </div>
              <h3>Павел Митренга</h3>
              <p>Няма равен със грайндовете си на рампата, също много добър стрийт скейтър.</p>
            </div>
          </div>
        </div>
      </div>



    </div>
  </div> <!-- /container -->

  <div class="hero-unit">
    <div class="container">
      <div class="row">
        <div class="span12">
          <h1>СПОНСОРИ</h1>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="sponsors">

      <div class="row">

        <div class="span12">
          <div class="row">
            <div class="span4 item">
            </div>
            <div class="span4 item" style="text-align: center">
              <%= image_tag 'sponsors/vertigo.jpg' %>
            </div>
            <div class="span4 item">
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

  <footer>
  <div class="container">
    <p class="pull-left">© 2013. Всички права запазени.</p>
    <!--<p class="pull-right"><a href="#">^</a></p>-->
  </div>
  </footer>



