<div class="slider-block">

  <div id="myCarousel" class="carousel slide">
    <div class="carousel-inner">

      <% @slider_items.each_with_index do |s, i| %>
        <div class="item <%= "active" if i == 0 %>">
          <%= image_tag s.picture.url(:detailed) %>
          <%= raw s.caption %>
        </div>
      <% end %>
    </div>
    <!-- Carousel nav -->
    <a class="carousel-control left" href="#myCarousel" data-slide="prev">‹</a>
    <a class="carousel-control right" href="#myCarousel" data-slide="next">›</a>
  </div>

</div>

<div class="container">

  <div class="row news">
    <div class="span10 offset1">
      <div class="accordion" id="accordion2">

        <% @articles.each do |a| %>
          <div class="accordion-group">
            <div class="accordion-heading">
              <h2>
                <a class="accordion-toggle" data-parent="#accordion2" href="#">
                  <%= a.title %>
                </a>
              </h2>
            </div>
            <div id="collapseOne" class="accordion-body collapse in">
              <div class="author" style="padding-left: 15px">
                <h5><%= image_tag a.user.avatar.url(:thumb), :class => "img img-circle", :style => "width: 60px; height: 60px; margin-right: 10px" %><span class="author_name"><%= a.user.name %></span>&nbsp;&nbsp;<span class="divider" style="color: #e5e5e5">|</span>&nbsp;&nbsp;<span class="date"><%= I18n.l a.created_at.to_date, :format => :long %></span></h5>
              </div>
              <div class="news-inner">
                <%= raw a.summary %>
              </div>
            </div>
          </div>
        <% end %>

      </div>
    </div>
  </div>
</div><!-- .container -->

<div class="hero-unit">
  <div class="container">
    <div class="row">
      <div class="span12">
        <h1><%= t('section_title.events') %></h1>
      </div>
    </div>
  </div>
</div>

<div class="container">

  <div class="row events">
    <% @events.each_with_index do |e, i| %>
      <div class="span5 <%= "offset1" if i == 0 %>">
        <%= image_tag e.picture.url(:thumb) %>
        <h2><%= e.title %></h2>
        <p><span class="date"><%= I18n.l e.date.to_date, :format => :long %></span><%= raw '&nbsp;&nbsp;<label class="label label-important">' + t('events.upcoming_event') + '</label>' if e.date >= Date.today %></h5>
      <%= raw e.summary %>
      <p><a href="#" class="btn">Повече информация</a></p>
    </div>
  <% end %>
</div>

</div><!-- .container -->

<div class="hero-unit">
  <div class="container">
    <div class="row">
      <div class="span12">
        <h1><%= t('section_title.pro_team') %></h1>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="team">

    <div class="row">

      <div class="span12">
        <div class="row">
          <% @pro_team.each do |t| %>
            <div class="span4 item">
              <div class="circle-thumbnail">
                <%= image_tag t.picture.url(:thumb) %>
              </div>
              <h3><%= t.name %></h3>
              <%= raw t.introduction %>
            </div>
          <% end %>
        </div>
      </div>
    </div>



  </div>
</div> <!-- /container -->

<div class="hero-unit">
  <div class="container">
    <div class="row">
      <div class="span12">
        <h1>СПОНСОРИ</h1>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="sponsors">

    <div class="row">

      <div class="span12">
        <div class="row">
          <div class="span4 item">
          </div>
          <div class="span4 item" style="text-align: center">
            <%= image_tag 'sponsors/vertigo.jpg' %>
          </div>
          <div class="span4 item">
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
