<div class="slider-block">

  <div id="myCarousel" class="carousel slide">
    <div class="carousel-inner">

      <% @slider_items.each_with_index do |s, i| %>
        <div class="item <%= "active" if i == 0 %>">
          <%= image_tag s.picture.url(:detailed) %>
          <%= raw s.caption %>
        </div>
      <% end %>
    </div>
    <!-- Carousel nav -->
    <a class="carousel-control left" href="#myCarousel" data-slide="prev">‹</a>
    <a class="carousel-control right" href="#myCarousel" data-slide="next">›</a>
  </div>

</div>

<div class="container">

  <div class="row news">
    <div class="span8">
      <div class="accordion" id="accordion2">

        <% @articles.each do |a| %>
          <div class="accordion-group">
            <div class="accordion-heading">
              <h2>
                <%= link_to a.title, article_path(a), :class => "accordion-toggle" %>
              </h2>
            </div>
            <div id="collapseOne" class="accordion-body collapse in">
              <div class="author" style="padding-left: 15px">
                <h5><%= image_tag a.user.avatar.url(:thumb), :class => "img img-circle", :style => "width: 60px; height: 60px; margin-right: 10px" %><span class="author_name"><%= a.user.name %></span>&nbsp;&nbsp;<span class="divider" style="color: #e5e5e5">|</span>&nbsp;&nbsp;<span class="date"><%= I18n.l a.created_at.to_date, :format => :long %></span></h5>
              </div>
              <div class="news-inner">
                <%= raw a.summary %>
              </div>
            </div>
          </div>
        <% end %>

      </div>
    </div>
    <div class="span4">
      <div class="pic-of-the-week">

          <div class="accordion-group">
            <div class="accordion-heading">
              <h2 style="text-align: center; margin-bottom: 10px;"><a class="accordion-toggle"><i class="icon icon-camera"></i> PIC OF THE WEEK</a></h2>
            </div>
            <div id="collapseOne" class="accordion-body collapse in">
              <div class="news-inner pic-of-the-week">
                <%= image_tag @pic_week.picture.url(:thumb) %>

                <p><span class="tag-icon"><i class="icon icon-user"></i></span> <%= @pic_week.rider %></p>
                <p><span class="tag-icon"><i class="icon icon-camera"></i></span> <%= @pic_week.photographer %></p>
                <p><span class="tag-icon"><i class="icon icon-map-marker"></i></span> <%= @pic_week.location %></p>
              </div>
            </div>
          </div>

      </div>
    </div>
  </div>
</div><!-- .container -->

<div class="hero-unit">
  <div class="container">
    <div class="row">
      <div class="span12">
        <h1><%= t('section_title.events') %></h1>
      </div>
    </div>
  </div>
</div>

<div class="container">

  <div class="row events">
    <% @events.each_with_index do |e, i| %>
      <div class="span6">
        <%= link_to image_tag(e.picture.url(:square), style: "padding: 5px; border: 1px solid #ccc; float: left; margin: 0 20px 20px 0"), event_path(e) %>
        <h2><%= link_to e.title, event_path(e) %></h2>
        <p style="margin-bottom: 0px"><span class="date"><span class="tag-icon"><i class="icon icon-calendar"></i></span> <%= I18n.l e.date.to_date, :format => :long %></span><%= raw '&nbsp;&nbsp;<label class="label label-important">' + t('events.upcoming_event') + '</label>' if e.date >= Date.today %></p>
        <p style="margin-bottom: 0px"><span class="date"><span class="tag-icon"><i class="icon icon-map-marker"></i></span> <%= e.location %></span></p>

        <% e.videos.each do |v| %>
        <p>
          <span class="date"><span class="tag-icon"><i class="icon icon-facetime-video"></i></span>
          <%= link_to v.title, video_path(v) %></span>
        </p>
        <% end %>

        <%= raw e.summary %>
        <div class="clear"></div>
      </div>
    <% end %>
  </div>

</div><!-- .container -->

<div class="hero-unit">
  <div class="container">
    <div class="row">
      <div class="span12">
        <h1><%= t('section_title.pro_team') %></h1>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="team">

    <div class="row">

      <div class="span12">
        <div class="row">
          <% @pro_team.each do |t| %>
            <div class="span4 item">
              <div class="circle-thumbnail">
                <%= image_tag t.picture.url(:thumb) %>
              </div>
              <h3><%= t.name %></h3>
              <%= raw t.introduction %>
            </div>
          <% end %>
        </div>
      </div>
    </div>



  </div>
</div> <!-- /container -->

<div class="hero-unit">
  <div class="container">
    <div class="row">
      <div class="span12">
        <h1><%= t('section_title.sponsors') %></h1>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="sponsors">

    <div class="row">

      <div class="span12">
        <div class="row">
          <div class="span4 offset2 item">
            <%= link_to image_tag('logo-vertigo.jpg'), "http://vertigo-skates.com/", :target => "_blank" %>
          </div>
          <div class="span4 item" style="text-align: center">
            <%= link_to image_tag('logo-contrabanda.png'), "http://www.contrabanda.bg/", :target => "_blank" %>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
