<div class="container" style="margin-top: 20px">

  <div class="row video">
    <% @last_videos.each do |video| %>
      <div class="span6">
        <h1><%= video.title %></h1>
        <div class="author" style="padding-left: 15px">
          <h5><%= image_tag video.user.avatar.url(:thumb), :class => "img img-circle", :style => "width: 60px; height: 60px; margin-right: 10px" %><span class="author_name"><%= video.user.name %></span>&nbsp;&nbsp;<span class="divider" style="color: #e5e5e5">|</span>&nbsp;&nbsp;<span class="date"><%= I18n.l video.created_at.to_date, :format => :long %></span></h5>
        </div>

        <!-- the player -->
        <div class="flowplayer is-splash no-embed minimalist"
             style="background-image: url(<%= video.splash.url %>);">
          <video>
             <source type="video/mp4" src="<%= video.stream %>">
          </video>
        </div>

        <%= raw video.summary %>
      </div>
    <% end %>
  </div>

  <div class="row">
    <hr/>


    <% @recent_videos.each do |video| %>
      <div class="span3">
        <%= link_to image_tag(video.splash.url(:thumb), :class => "other_video"), video_path(video) %>
        <h3 style="text-transform: uppercase; line-height: 30px;"><%= link_to video.title, video_path(video) %></h3>
        <p>&nbsp;</p>
      </div>
    <% end %>
  </div>

</div>
