<% content_for :title do %><%= @video.title %> | <%= I18n.t('menu.videos') %> | <%= I18n.t('aisa_disaster') %><% end %>

<div class="container" style="margin-top: 20px">

  <div class="row video">
    <%= render 'video', { :video => @video } %>

    <div class="span12">
      <div id="disqus_thread" style="margin-top: 20px"></div>
      <script type="text/javascript">
          /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
          var disqus_shortname = 'aisadisaster'; // required: replace example with your forum shortname

          /* * * DON'T EDIT BELOW THIS LINE * * */
          (function() {
              var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
              dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
              (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
          })();
      </script>
    </div>
  </div>

  <div class="row">
    <% @recent_videos.each_with_index do |video, j| %>
      <div class="span6">
        <%= link_to image_tag(video.splash.url(:square), :class => "other_video"), video_path(video) %>
        <h3 style="text-transform: uppercase; line-height: 30px;"><%= link_to video.title, video_path(video) %></h3>
        <p><span class="tag-icon"><i class="icon icon-calendar"></i></span> <%= I18n.l video.created_at.to_date, :format => :long %></p>
        <% if video.author != "" %>
          <p><span class="tag-icon"><i class="icon icon-facetime-video"></i></span> <%= video.author %></p>
        <% end %>

        <% if video.location != "" %>
          <p><span class="tag-icon"><i class="icon icon-map-marker"></i></span> <%= video.location %></p>
        <% end %>
        <% if video.events.length > 0 %>
          <p>
          <% video.events.each do |e| %>
            <span class="tag-icon"><i class="icon icon-tag"></i></span>
            <%= link_to e.title, event_path(e) %>
          <% end %>
          </p>
        <% end %>
      </div>

      <% if ((j+1) % 2 == 0) %>
        </div><div class="row">
      <% end %>
    <% end %>
  </div>

</div>
