<div class="row-fluid">
  <div class="span12">
    <%= link_to image_tag(e.picture.url(:square), :style => "float: left; margin: 0 20px 20px 0; padding: 5px; border: 1px solid #ccc"), event_path(e) %>
    <h2><%= link_to e.title, event_path(e) %></h2>
    <p><span class="tag-icon date"><i class="icon icon-calendar"></i></span> <%= I18n.l e.date.to_date, :format => :long %></span><%= raw '&nbsp;&nbsp;<label class="label label-important">' + t('events.upcoming_event') + '</label>' if e.date >= Date.today %></h5>
    <% if e.location %>
      <p><span class="tag-icon date"><i class="icon icon-map-marker"></i></span> <%= e.location %></p>
    <% end %>
    <%= raw e.summary %>
  </div>
</div>

