<% content_for :title do %><%= I18n.t('menu.events') %> | <%= I18n.t('aisa_disaster') %><% end %>

<div class="hero-unit">
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span12">
        <h1><%= I18n.t('menu.events') %></h1>
      </div>
    </div>
  </div>
</div>

<div class="container" style="margin-bottom: 20px">
  <div class="row-fluid">
    <div class="span10">
    <% @events.each_with_index do |e, i| %>
      <div class="row-fluid">
        <div class="span12">
          <%= link_to image_tag(e.picture.url(:thumb)), event_path(e) %>
          <h2><%= link_to e.title, event_path(e) %></h2>
          <p><span class="date"><%= I18n.l e.date.to_date, :format => :long %></span><%= raw '&nbsp;&nbsp;<label class="label label-important">' + t('events.upcoming_event') + '</label>' if e.date >= Date.today %></h5>
          <%= raw e.summary %>
          <p><%= link_to I18n.t('other.more_information'), event_path(e), :class => 'btn' %></p>
        </div>
      </div>
    <% end %>
    </div>
    <div class="span2 bs-docs-sidebar">
      <p>All Events</p>
      <ul class="nav nav-list bs-docs-sidenav">
        <li><a href="#what_is_aisa_disaster">2014</a></li>
        <li><a href="#how_was_aisa_disaster_created">2013</a></li>
        <li><a href="#why_was_aisa_disaster_created">2012</a></li>
        <li><a href="#who_are_the_sponsors_of_aisa_disaster">2011</a></li>
        <li><a href="#difference_between_aisa_disaster_and_team_disaster">2010</a></li>
      </ul>
    </div>
  </div>
</div><!-- .container -->


