<% content_for :title do %><%= I18n.t('menu.events') %> | <%= I18n.t('aisa_disaster') %><% end %>

<div class="hero-unit">
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span12">
        <h1><%= I18n.t('menu.events') %></h1>
      </div>
    </div>
  </div>
</div>

<div class="container" style="margin-bottom: 20px">
  <div class="row-fluid">
    <div class="span9">
      <h2 id="upcoming_events" style="text-transform: uppercase"><%= I18n.t('events.upcoming_events') %></h2>
      <hr/>
      <% @upcoming_events.each_with_index do |e, i| %>
        <%= render 'event', { e: e } %>
      <% end %>

      <h2 style="text-transform: uppercase"><%= I18n.t('events.past_events') %></h2>
      <hr/>
      <% years = Array.new %>
      <% @past_events.each_with_index do |e, i| %>
        <% if !(years.include? e.date.year) %>
          <div id="events_<%= e.date.year %>" style="position: absolute; margin-top: -100px"></div>
          <% years << e.date.year %>
        <% end %>

        <%= render 'event', { e: e } %>
      <% end %>
    </div>
    <div class="span3 bs-docs-sidebar">
      <ul class="nav nav-list bs-docs-sidenav">
        <li><a href="#upcoming_events"><%= I18n.t('events.upcoming_events') %></a></li>
        <li><a href="#events_2013"><%= I18n.t('events.events_from') %>2013</a></li>
        <li><a href="#events_2012"><%= I18n.t('events.events_from') %>2012</a></li>
        <li><a href="#events_2011"><%= I18n.t('events.events_from') %>2011</a></li>
        <li><a href="#events_2010"><%= I18n.t('events.events_from') %>2010</a></li>
        <li><a href="#events_2009"><%= I18n.t('events.events_from') %>2009</a></li>
        <li><a href="#archive"><%= I18n.t('events.archive') %></a></li>
      </ul>
    </div>
  </div>
</div><!-- .container -->


