<% content_for :title do %><%= I18n.t('menu.photos') %> | <%= I18n.t('aisa_disaster') %><% end %>

<div class="hero-unit">
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span12">
        <h1><%= I18n.t('menu.photos') %></h1>
      </div>
    </div>
  </div>
</div>

<div class="container">

  <div class="row albums">
    <% @last_albums.each do |a| %>
    <div class="span6">
      <div class="accordion" id="accordion2">
          <div class="accordion-group">
            <div class="accordion-heading">
              <h2>
                <%= link_to a.title, album_path(a), :class => "accordion-toggle" %>
              </h2>
            </div>
            <div id="collapseOne" class="accordion-body collapse in">
              <div class="author">
                <h5><%= image_tag a.user.avatar.url(:thumb), :class => "img img-circle", :style => "width: 60px; height: 60px; margin-right: 10px" %><span class="author_name"><%= a.user.name %></span>&nbsp;&nbsp;<span class="divider" style="color: #e5e5e5">|</span>&nbsp;&nbsp;<span class="date"><%= I18n.l a.created_at.to_date, :format => :long %></span></h5>
              </div>
              <div class="album-inner">
                <%= raw a.summary %>

                <br/>

                <div class="galleria">
                <% a.photos.each_with_index do |p, i| %>
                  <% if i>3 then break end %>

                  <a href="<%= p.file.url(:detailed) %>"><%= image_tag(p.file.url(:thumb), :data => { :big => p.file.url(:detailed), :title => p.caption }, :alt => "") %></a>
                <% end %>
                </div>

                <br/>

                <%= link_to I18n.t('photos.look_at_the_photos'), album_path(a), :class => "btn" %>
                <br/>
                <br/>
              </div>
            </div>
          </div>
      </div>
    </div>
    <% end %>
    </div>

    <hr/>

    <% @albums.each do |a| %>
    <div class="row" style="clear: both; margin-bottom: 20px; border-bottom: 1px solid #eee; padding-bottom: 20px;">
      <div class="span12">
        <%= image_tag a.picture.url(:thumb), style: "float: left; padding: 5px; border: 1px solid #ccc; margin-right: 20px; width: 200px;" %>
        <h2>
          <%= link_to a.title, album_path(a), :class => "accordion-toggle" %>
        </h2>

        <% if a.events.length > 0 %>
          <p>
          <% a.events.each do |e| %>
            <span class="tag-icon"><i class="icon icon-tag"></i></span>
            <%= link_to e.title, event_path(e) %>
          <% end %>
          </p>
        <% end %>
        <p><span class="tag-icon"><i class="icon icon-calendar"></i></span> <%= I18n.l a.created_at.to_date, :format => :long %></p>

        <% if a.photographer %>
        <p><span class="tag-icon"><i class="icon icon-camera"></i></span> <%= a.photographer %></p>
        <% end %>
        <% if a.location %>
        <p><span class="tag-icon"><i class="icon icon-map-marker"></i></span> <%= a.location %></p>
        <% end %>
        <%= raw a.summary %>
      </div>
    </div>
    <% end %>
  </div>
</div><!-- .container -->
